= simple_form_for([current_user, @artwork]) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id, value: current_user.id
    = f.input :artist
    = f.input :title
    = f.input :date
    = f.input :description
    = f.input :img_url
    = f.input :featured

  .form-actions
    = f.button :submit
