%h1 Pocket Museum : Save Your Favorite Artwork

%h4 A Demo App Made with Rails and Backbone.js 
%h4 All artwork courtesy of: 
%a{:href => "fatcatart.com"} fatcatart
.featured-artworks.panel
%p
  %h3 Featured Artworks
  %p.loading
    %span.text Loading featured artworks
    %span.loader
  %ul#featured{ data: { 'user-id' => params[:user_id] } }

%table.table
  %tr
    %th Title
    %th Artist
    %th Date
    %th Image
    %th 
    %th 
    %th
    %th

  - @artworks.each do |artwork|
    %tr
      %td= artwork.title
      %td= artwork.artist
      %td= artwork.date
      %td 
        %a{:href => user_artwork_path(current_user, artwork)}
          %img{:src =>artwork.img_url} 
      %td= link_to 'Edit', edit_user_artwork_path(current_user, artwork)
      %td= link_to 'Destroy', user_artwork_path(current_user, artwork), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this?' }

%br

= link_to 'New Artwork', new_user_artwork_path(params[:user_id])
